:root {
  --main-bg-color-right: rgb(255, 0, 64);
  --main-bg-color-left: rgb(255, 0, 106);
  --main-bg-black: rgb(32, 32, 32);
  --type-color: rgb(224, 224, 224);
}

html {
  font-family: "Poppins", sans-serif;
}

#blackNav {
  background-color: black;
}
#scoreContainer {
  padding: 3%;
  background-color: rgba(245, 3, 63, 0.562);
  height: auto;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: rgba(88, 87, 88, 0.219);
}

.wrapper-app {
  border: 3px dashed black;
  background-color: rgba(88, 87, 88, 0.219);
  position: relative;
  height: 90vh;
  width: inherit;
}

.centerContent {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
#contentContainer {
  padding: 0;
  margin: 0;
  width: 100%;
  color: var(--type-color);
  background-color: var(--main-bg-black);
}

#main {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#main > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.geomitry {
  position: relative;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  border: 10px dashed rgb(0, 0, 0);
  background-color: rgb(0, 238, 255);
}

.sec {
  position: absolute;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  background: linear-gradient(to left, black, rgb(12, 41, 61), black);
}

#sec,
#geo {
  transform: rotate(0);
  transition: all 3s;
}

.rotate {
  animation: colorful 1s infinite;
}

@keyframes colorful {
  0% {
    border-color: rgb(0, 0, 0);
  }
  50% {
    border-color: rgb(5, 5, 5);
  }
  99.9% {
    border-color: rgb(0, 0, 0);
  }
}
